---
GCLOUD_ORG_ID: "UPDATE_WITH_GOOGLE_CLOUD_ORG_ID"
GCLOUD_ORG_DOMAIN: "UPDATE_WITH_GOOGLE_CLOUD_DOMAIN"
BILLING_ID: "UPDATE_WITH_BILLING_ID"
# Main admin account
ADMIN_ACCOUNT_USER: "admin"
# Created account because it has more than 6 letters
#ADMIN_ACCOUNT_USER: "administrator"
ALTOSTRAT_DOMAIN_ADMIN: "{{ ADMIN_ACCOUNT_USER }}@{{ GCLOUD_ORG_DOMAIN }}"
