---
GCLOUD_ORG_ID: "{{ org_id }}"
GCLOUD_ORG_DOMAIN: "{{ google_ldap }}.altostrat.com"
BILLING_ID: "{{ billing_id }}"
# Main admin account
ADMIN_ACCOUNT_USER: "{{ argolis_admin_name | default('admin') }}"
# Created account because it has more than 6 letters
ALTOSTRAT_DOMAIN_ADMIN: "{{ argolis_admin_name | default('admin') }}@{{ google_ldap }}.altostrat.com"
